auto-save-list
projectile*
projects
!pkg/projectile.el
backups
elpa
*.elc
recentf
.python-environments*
TAGS
eshell/history
tramp
url/*
transient/*
.lsp-session-*
lsp-cache
eshell/*
.yas-compiled-snippets.el
ac-comphist.dat
/.cache
/eln-cache
.dap-breakpoints
/straight
!straight/versions/default.el
/speed-type
/tutorial

# Ignore actual init as it can contain private data
init.el
