auto-save-list
projectile*
projects
!pkg/projectile.el
backups
elpa
*.elc
recentf
.python-environments*
TAGS
eshell/history
tramp
url/*
transient/*
.lsp-session-*
lsp-cache
eshell/*
.yas-compiled-snippets.el
ac-comphist.dat
/.cache
.dap-breakpoints
